* {
    margin: 0;
    padding: 0;

    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -wekit-box-sizing: border-box !important;

    /* box-shadow: 0 0 1px #f00; */
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    border: none;
}

.urna {
    width: 820px;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    background-color: #c7d3ed;
    flex-wrap: wrap;
    border: 1px solid #000;

}

.tela1 {
    width: 70%;
    display: flex;
    padding: 15px;
    height: 357px;
}

.tela2 {
    width: 30%;
    display: flex;

    box-sizing: border-box;
    margin-top: 5px;
}

.visor1 {
    width: 90%;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.visor2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 15px;

}

.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    text-align: right;
    padding: 0 30px;
    background-color: #d8dfee;
    margin-bottom: 5px;
}

.logo img {
    display: flex;
    height: 100%;
}

.logo h1 {
    margin: auto;
    width: 60%;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.numeros {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(211, 204, 204);
}

.numero {
    width: 100%;
    display: flex;
}

.numero ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.numero ul li {
    width: 30%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.select {

    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}

.select button {
    font-size: 0.8em;
    text-align: center;
    border: none;
    padding: 10px 5px;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}

.btn2 {
    background-color: #169745;
}

.btn1 {
    background-color: #d26739;
}

.votos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 20px;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
}

.selecao {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.selecao h1 {
    width: 100%;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 10px;
}

.selecao_item {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.selecao_item .escolha {
    width: 100%;
    display: flex;

}

.escolha>span {
    width: 50px;
    height: 59px;
    padding: 10px;
    font-size: 2em;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.selecao_item .dados {
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.selecao_item .dados ul {
    display: flex;
    flex-direction: column;
}

.selecao_item .dados li {
    display: flex;
    font-size: 1em;
    font-weight: bold;
}

.selecao_item .dados li span {
    font-size: 0.89em;
}

.selecao .img_candidato {
    width: 40%;
    height: calc(100% -216px);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
}

.selecao .img_candidato img {
    border: 1px solid #ccc;
    max-height: 216px;
}

.urna_pontos {
    margin-top: 10px;
    margin-bottom: 1x;
    width: 100%;
    display: flex;
}

.urna_pontos ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.urna_pontos ul li {
    display: block;
    width: 5px;
    height: 15px;
    justify-content: space-around;
    background-color: rgb(71, 70, 70);
}

.img_home {
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
    height: auto;
}

.img_home img {
    margin: 0 auto;
    width: 250px;
    display: flex;
}